body {
    background-color: #eddcd2;
  }

.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
  text-wrap: wrap;

}



form {
    display: block;
    background: #fff;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 150px auto;
}